.header{   
    display: inline-flex;

    position: fixed;
    
}

.menu{
    color: rgb(3, 158, 230);
    font-size: 2em;
    font-weight: 600;
    list-style: none;
    background: linear-gradient(transparent,rgb(3, 36, 29) );


    
    
}

a{
    text-decoration: none;
    
}

