.titleHistoryContent{
    font-size: 1rem;
    background-color: rgb(21, 72, 119);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 520vh;  
    text-align: center;
}

.THistoryC{
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 60px;
    padding-bottom: 50px;
}
.VD{
    display: inline-flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.Tvd{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px ;

}

.Himg{
    width: 1500px;
    height: 1000px;
    padding: 0px;
}