.titleHistoryContent{
    font-size: 1rem;
        /* Começo do background de Vidro */

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0 ));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
    
    
        /* Fim do background de Vidro */
        
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 520vh;  
    text-align: center;
}

.THistoryC{
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 60px;
    padding-bottom: 50px;
}
.VD{
    display: inline-flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.Tvd{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px ;

}

.Himg{
    width: 1500px;
    height: 1000px;
    padding: 0px;
}