.titleMissionContent{
    font-size: 1rem;
        /* Começo do background de Vidro */

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0 ));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
    
    
        /* Fim do background de Vidro */

    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 130vh;  
    text-align: center;
}
.TMission{
    font-size: 3rem;
    margin-top: 35px;
    padding-top: 35px;
}
.pMission{
    display: inline-flex;
    margin-top: 35px;
    width: 400px;

}

.Mimg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 200px;
    width: 700px;
    height: 600px;
}